<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- #keywords -->
  <meta
    name="keywords"
    content="Liquinex Dashboard,Liquinex DeFi Dashboard,Crypto Dashboard UI,DeFi Protocol Dashboard,Web3 Admin Dashboard,Blockchain Analytics Dashboard,Crypto Portfolio Dashboard,DeFi Finance Dashboard,Crypto Trading Dashboard,Web3 Finance UI,DeFi Admin Panel,Crypto Wallet Dashboard,Digital Asset Management Dashboard,Liquidity Protocol Dashboard,Financial Analytics Dashboard"
  />

  <!-- #description -->
  <meta
    name="description"
    content="Liquinex is a modern DeFi protocol dashboard for managing crypto assets, tracking transactions, monitoring liquidity, and analyzing Web3 financial data."
  />
  <link
    rel="shortcut icon"
    href="./assets/images/favicon.ico"
    type="image/x-icon"
  />
  <title>Cryptrix — AI Crypto Investing & Trading App</title>
  <!-- phosphor icons -->
  <link
    rel="stylesheet"
    type="text/css"
    href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.2/src/duotone/style.css"
  />
  <script src="./assets/js/data.js" defer></script>
  <script src="./assets/js/charts.js" defer></script>
  <script src="./assets/js/components.js" defer></script>
  <script src="./assets/js/app.js" defer></script>
</head>
